


.social-btn {

  border-width: thin;
  text-align: center;
  border-radius: 5%;
  background-size: contain;

  color: #292f33;
  padding: 2% 2% 2% 2%;
}
img {
  border: solid;
  border-width: medium;
}

p {
  color: orange;
}
